<table>
    <thead>
        <th scope="co">#</th>
        <th scope="co">First</th>
        <th scope="co">Last</th>
        <th scope="co">Handle</th>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <th>Mark</th>
            <th>Otto</th>
            <th>@mdo</th>
        </tr>
        <tr>
            <th scope="row">2</th>
            <th>Jacob</th>
            <th>Thornton</th>
            <th>@fat</th>
        </tr>
        <tr>
            <th scope="row">3</th>
            <th>Larry</th>
            <th>the Bird</th>
            <th>@twitter</th>
        </tr>
    </tbody>
</table>